body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #ebe9e9;
    color: #2b2a2a;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: #e8e6e6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
header {
    text-align: center;
    margin-bottom: 20px;
}
h1,
h2 {
    color: #2b3c4d;
}
ul {
    padding-left: 20px;
}

